@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.red-sec {
  background-color: #EF6461;
}

.black-sec {
  background-color: #313638;
}

.grey-sec {
  background-color: #E0DFD5;
}

.blue-sec {
  background-color: #8E7DBE;
}

.green-sec {
  background-color: #99C1B9;
}

body {
  font-family: 'Open sans', sans-serif;
  color: #3A3238;
  /* color: #3b2143; */
}

main {
  flex-basis: 40%;
  padding: 60px 45px 75px 45px;
  background-color: #FAFAFA;
}

.title {
  letter-spacing: 1px;
}

.description {
  margin: 2.2rem 0;
}

.social-links li {
  margin-right: 1rem;
}

.social-links img {
  filter: grayscale(100%) drop-shadow(16px 16px 20px blue);
}

.social-links img:hover {
  filter: drop-shadow(16px 16px 20px blue);
}

.hello-btn:hover {
  color: #fff;
  background-color: #2aa79c;
  text-decoration: none;
}

.hello-btn {
  padding: 12px 70px;
  margin-top: 3rem;
  background-color: #5B5F97;
  border-radius: 50px;
  color: #fff;
}

aside {
  flex-basis: 60%;
  background-color: #E8E9EB;
}

section {
  padding: 60px 45px;
}

.order {
  margin: 2rem 0;
}

.project-mobile {
  height: 100vh;
}

.project-mac {
  height: 80vh;
}

.project-mobile .image,
.project-mac .image {
  flex: 1;
}

.project-mobile .image img {
  height: 30rem;
}

.project-mobile .project-desc,
.project-mac .desc  {
  flex: 1;
}

@media screen and (min-width: 768px) {
  main {
    padding: 0 85px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .hello-btn {
    margin-top: 60px;
  }
}